<main>
  <div class="create-page">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="create-box">
        <form id="createForm">
          <div class="create-field">
            <label for="title" class="form-label mt-4">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="Enter title"
              required
            >
          </div>
        </form>
        <div class="create-button">
          <app-button id="saveButton" text="Save" (clicked)="handleCreateCourse()"></app-button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
