<main>
  <div class="class-page">
    <app-navbar></app-navbar>

    <div *ngIf="!loading && selectedClassOverview === null" class="container mt-4">
      <div class="badge bg-danger p-2 fs-2">
        You are not enrolled in any classes
      </div>
    </div>

    <div *ngIf="selectedClassOverview as classOverview" class="container mt-4">
    <div class="content container mt-4">
      <div class="badge bg-primary p-2 fs-2">
        {{ classOverview.title }}: {{ classOverview.courseTitle }}
      </div>



      <!-- Coaches -->
      <h4 class="mt-4">Coaches</h4>
      <div class="d-flex flex-wrap gap-2">
        <div class="badge bg-dark-subtle p-2 fs-6" *ngFor="let coach of classOverview.coaches">
          {{ coach.displayName }}
        </div>
      </div>

      <h4 class="mt-4">students</h4>
      <p><strong>Number of Students:</strong> {{ classOverview.students.length }}</p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let student of classOverview.students">
          <span>{{ student.displayName }}</span>

          <div *ngIf="roleService.isCoach()" class="ms-2">
            <app-button text="View Profile" (clicked)="goTo('view-profile/' + student.userName)" class="btn-sm"></app-button>
          </div>
        </li>

      </ul>

    </div>
    </div>

  </div>
  <app-footer></app-footer>
</main>
