<main>
  <div class="edit-page">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="edit-box">
        <div style="text-align: right;">
          <h1>{{ username }}</h1>
        </div>

        <form (ngSubmit)="handleSave()" #editForm="ngForm">

          <div class="card bg-light mb-3">
            <div class="card-body">
              <label for="displayName" class="form-label">Display Name</label>
              <input
                type="text"
                class="form-control"
                id="displayName"
                name="displayName"
                [(ngModel)]="formData.displayName"
                required
              >
            </div>
          </div>

          <div class="card bg-light mb-3">
            <div class="card-body">
              <label for="password" class="form-label">New Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="formData.password"
                autocomplete="new-password"
              >
            </div>
          </div>

          <div class="card bg-light mb-3">
            <div class="card-body">
              <label for="confirmPassword" class="form-label">Confirm New Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                [(ngModel)]="formData.confirmPassword"
                autocomplete="new-password"
              >
            </div>
          </div>

          <div class="save-button">
            <app-button id="editProfileButton" text="Save" type="submit"></app-button>
          </div>

        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
