<main>
  <div class="overview-page">
    <app-navbar></app-navbar>

    <div class="content container mt-4">

      <!-- STUDENT VIEW -->

      <div *ngIf="userRole === 'student' && codelabsStudent">
        <div class="d-flex flex-wrap">
          <div *ngFor="let codelab of codelabsStudent.progressPerUserDtoList" class="p-2" style="flex: 0 0 25%; max-width: 25%;">
            <div class="card border-primary h-100">
              <div class="card-header d-flex align-items-center bg-light">
                <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"  class="me-2"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path d="M12 4.5L2 9.5L12 14.5L22 9.5L12 4.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M19 11V16L12 19.5L5 16V11" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M22 14V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g>
                </svg>
                <strong class="text-body-secondary">Codelab</strong>
              </div>
              <div class="card-body">
                <h4 class="card-title">{{ codelab.codelabTitle }}</h4>
                <h5 class="card-text fs-6">{{ codelab.progressLevel.toLowerCase().replaceAll("_", " ")}}</h5>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" (click)="goTo('codelabs/' + codelab.codelabId)">
                    Open
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- COACH VIEW -->
      <div *ngIf="userRole === 'coach'">

        <div class="d-flex flex-column gap-4">
          <div class="card bg-light" *ngFor="let student of students">
            <div class="card-header">
              {{ student.name }}
            </div>
            <div class="card-body">
              <p class="mb-2">
                {{ student.completedCodelabs }} / {{ student.totalCodelabs }} Codelabs Completed
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [style.width.%]="(student.completedCodelabs / student.totalCodelabs) * 100"
                  [attr.aria-valuenow]="student.completedCodelabs"
                  aria-valuemin="0"
                  [attr.aria-valuemax]="student.totalCodelabs"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <app-footer></app-footer>
  </div>
</main>

