<main>
  <div class="page">
    <app-navbar></app-navbar>
    <div class="content">
      <h1 class="text-center">Intro Title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue, arcu vitae faucibus suscipit,
        justo eros rhoncus magna, commodo porttitor est dui vel quam. Nam consequat, odio vel rhoncus malesuada,
        urna augue dapibus risus, ac consequat dolor massa nec sem. Donec dapibus et nunc in laoreet. Sed fermentum massa ipsum,
        at ornare dolor aliquam quis. Mauris et erat ac justo dignissim fermentum. Morbi tincidunt tellus at augue elementum,
        vitae auctor mi efficitur. Duis ullamcorper semper euismod. Suspendisse non metus eget odio tincidunt mattis ut sodales nunc.
        Pellentesque sit amet lacus vitae nunc lacinia imperdiet vehicula non orci. Sed semper est euismod, fermentum quam at,
        posuere urna. Mauris et magna mi. Duis auctor, risus eleifend interdum ullamcorper, elit diam venenatis elit, eget ultrices odio
        nisi id augue. Nullam est est, tempor non neque a, pharetra maximus mauris. Phasellus elit arcu, ultrices nec mi nec,
        pulvinar hendrerit ligula. Aliquam tempus, lorem in venenatis blandit, risus est vestibulum leo, vel volutpat massa eros a urna.
        Integer iaculis lobortis nunc non tincidunt.
      </p>
      <p>
        Nullam at ornare lorem, sit amet vestibulum metus. Cras id erat vel erat scelerisque maximus non mattis neque.
        Aenean tincidunt nisl lobortis, facilisis ligula id, tincidunt lectus. Vestibulum tempor libero ut pellentesque sollicitudin.
        Quisque pulvinar vel quam vel fringilla. Curabitur eu elementum orci. Suspendisse dolor nunc, rutrum id magna eu, ultrices
        vehicula magna. Vivamus mattis hendrerit augue. Cras elementum pellentesque leo semper tempus. Suspendisse lobortis quam quis
        odio viverra, non ullamcorper justo dapibus. In quis ullamcorper lacus. Nunc blandit justo sed lacus vehicula, eget cursus massa
        luctus. Mauris venenatis nisi nec ante elementum condimentum.
      </p>
    </div>
    <app-footer></app-footer>
  </div>
</main>
