<main>
  <div class="page">
    <app-navbar></app-navbar>

    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-text">
        <h1>LMS</h1>
        <h2>Learning Management System</h2>
      </div>
    </div>

    <!-- Content Section -->
    <div class="content">
      <div class="introduction w-50">
        <h3 class="text-center">Welcome to Switchfully LMS</h3>
        <p>
          At Switchfully, we believe that learning should be engaging, accessible, and rewarding — for both students and coaches. That’s why we’ve created a modern Learning Management System designed to support your entire learning journey.
        </p>
        <p>
          Whether you're here to follow courses, track your progress, or guide others as a coach, our platform offers the tools you need for a smooth and enjoyable experience.
        </p>
        <p>
          Get started by registering an account or logging in to explore your classes, modules, and codelabs.
        </p>
        <p>
          Let’s build knowledge, together.
        </p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
