<main class="dashboard-page">
  <app-navbar></app-navbar>
  <div class="content w-100 px-4">

    <div class="d-flex justify-content-between align-items-center mb-4 w-100">
      <h2 class="mb-4 fs-1 fw-bold">Welcome, {{ firstName }}.</h2>
      <div *ngIf="roleService.isCoach()">
        <button class="btn btn-success btn-lg m-2" data-bs-toggle="modal" data-bs-target="#createClassModal">Create Class</button>
        <button class="btn btn-success btn-lg m-2" data-bs-toggle="modal" data-bs-target="#createCourseModal">Create Course</button>
      </div>
    </div>

    <div *ngIf="roleService.isCoach()">

      <h4 *ngIf="classes.length===0"> Not assigned to any classes. </h4>

      <div class="accordion w-100" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              My Classes
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body px-0">
              <div class="d-flex flex-wrap w-100">

                <!--              NG FOR START-->
                <div *ngFor="let curClass of classes" class="p-2" style="flex: 0 0 25%; max-width: 25%;">
                  <div class="card border-primary h-100">
                    <div class="card-header d-flex align-items-center bg-light">
                      <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
                        <path d="M10 14L10 17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M14 14L14 17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M5 10L5 21" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M19 10L19 21" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 21H21" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 10H21" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M19 7.00005L12 2.99994" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M5.00001 7.00011L12 3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <strong class="text-body-secondary">Class</strong>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{ curClass.title }}</h4>
                      <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" (click)="goTo('class-overview/' + curClass.id)">
                          Open
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--              NG FOR END-->

              </div>
            </div>
          </div>
        </div>

        <h4 *ngIf="courses.length===0"> No courses available, please create courses first. </h4>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              All Courses
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body px-0">
              <div class="d-flex flex-wrap w-100">
                <div *ngFor="let course of courses" class="p-2" style="flex: 0 0 25%; max-width: 25%;">
                  <div class="card border-primary h-100">
                    <div class="card-header d-flex align-items-center bg-light">
                      <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
                        <path d="M20 12V4C20 2.89543 19.1046 2 18 2H6C4.89543 2 4 2.89543 4 4V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V18.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M13 2V14L16.8182 11L20 14V5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                     <strong class="text-body-secondary">Course</strong>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{ course.title }}</h4>
                      <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" (click)="goTo('/courses/' + course.id)">
                          Open
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="roleService.isStudent()">

      <h4 *ngIf="classes.length===0"> Not enrolled in any classes </h4>

      <h3>My Class</h3>
      <div *ngIf="classes.length === 1" class="p-2" style="flex: 0 0 25%; max-width: 25%;">
        <div class="card border-primary h-100">
          <div class="card-header d-flex align-items-center bg-light">
            <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
              <path d="M20 12V4C20 2.89543 19.1046 2 18 2H6C4.89543 2 4 2.89543 4 4V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V18.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M13 2V14L16.8182 11L20 14V5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <strong class="text-body-secondary">Class</strong>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ classes[0].title }}</h4>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" (click)="goTo('class-overview/' + classes[0].id)">
                Open
              </button>
            </div>
          </div>
        </div>
      </div>
      <h3>My Course</h3>
      <div *ngIf="courseStudent" class="p-2" style="flex: 0 0 25%; max-width: 25%;">
        <div class="card border-primary h-100">
          <div class="card-header d-flex align-items-center bg-light">
            <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
              <path d="M20 12V4C20 2.89543 19.1046 2 18 2H6C4.89543 2 4 2.89543 4 4V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V18.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M13 2V14L16.8182 11L20 14V5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <strong class="text-body-secondary">Course</strong>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ courseStudent.title }}</h4>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" (click)="goTo('courses/' + courseStudent.id)">
                Open
              </button>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>

  <!-- Modal for creating a new module -->
  <div class="modal fade" id="createCourseModal" tabindex="-1" aria-labelledby="createCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="createCourseModalLabel">Create New Course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <input
            [(ngModel)]="newCourseTitle"
            class="form-control"
            placeholder="Course title"
          />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="handleCreateNewCourse()">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal for creating a new class -->
  <div class="modal fade" id="createClassModal" tabindex="-1" aria-labelledby="createClassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="createClassModalLabel">Create New Class</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <input
            [(ngModel)]="newClassTitle"
            class="form-control"
            placeholder="Class title"
          />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="handleCreateNewClass()">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>

