.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 20px;
}

.accordion-body {
  width: 100%;
}

.accordion-body .row {
  width: 100%;
  margin: 0;
}
